@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width calc(100% - 330px)
  select
    position absolute
    top 10px
    right 340px
  .info-bar
    position absolute
    top 0px
    right 0px
    width 330px
    bottom 0px
    border-left 1px solid #a
    overflow auto
    padding 0px 10px
    ol
      list-style-type none
      position relative
      margin 10px 0px 0px 0px
      padding 0px
      li
        position absolute
        width 100%
        transition top 0.4s
        .value
          position absolute
          right 0px
        .bar
          position absolute
          top 18px
          height 2px
          transition width 0.4s
          background ColorHeading

